<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<style>
body {
  background-color: lightblue;
}
</style>
<body>
   <div class="form">
        <form action="doInsert" method="POST">
            
            <h1 style="color: red;">Add Toys</h1>
            
            <div class="flex">
                <p><span>Name:</span> <input type="text" name="txtNameToys" ></p>
                <p><span>Price:</span> <input type="text" name="txtPriceToys" ></p>
                <p><span>Description:</span><textarea name="txtDescriptionToys" id="" cols="21" rows="8"></textarea></p>
                
                
            </div>
            <p class="btn-p"><input type="submit" id="btn" value="Add"></p>
        </form>
    </div> 
    <h1 style="color: red;">List of Toys</h1>
    <table class="styleTable" border="1">
        <tr>
            
            <th class="name">NameToys</th> 
            <th class="id">PriceToys</th>
            <th class="name">DescriptionToys</th>
        </tr>
        {{#each toys}} 
        <tr>
         
             
             <td class="name">{{NameToys}}</td>
            <td class="id">{{PriceToys}}</td>
            <td class="name">{{DescriptionToys}}</td>
            <td class="btn">
                <a href="/update?id={{_id}}">Update</a>
                <a href="/delete?id={{_id}}">Delete</a>
            </td> 
        </tr>  
         {{/each}}
        
        
    </table>
</body>
</html>